Source: iotjs
Maintainer: Philippe Coval <rzr@users.sf.net>
Section: web
Priority: optional
Build-Depends: debhelper-compat (= 12),
               cmake,
               docbook-to-man,
               python,
               libcurl4-gnutls-dev | libcurl-ssl-dev | libcurl-dev
Standards-Version: 4.5.0
Homepage: https://iotjs.net

Package: iotjs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Javascript Framework for Internet of Things
 Inter-operable service platform in the world of IoT,
 based on web technology.
 The target of IoT.js is to run in resource constrained devices
 such as only few kilobytes of RAM available device.

Package: iotjs-dev
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Developer files for Javascript Framework for IoT
 This package ships static library and developments files.
 C Headers are installed into iotjs namespace.
 This is mostly useful to embed iot.js in applications or debugging purposes.
