#!/usr/bin/make -f
# -*- makefile -*-
# ex: set tabstop=4 noexpandtab:
#{
# Copyright 2017 Samsung Electronics France SAS
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}


default: rule/debuild
	@echo "#$@: $^"

# Comment this to turn off verbose mode.
export DH_VERBOSE=1
project?=iotjs

version?=$(shell [ -r debian/changelog ] \
  && which dpkg-parsechangelog > /dev/null 2>&1 \
  && dpkg-parsechangelog | grep "Version:" | sed -e "s/Version: \(.*\)-.*/\1/g" \
  || echo "0.0")

tarball?=${CURDIR}/../${project}_${version}.orig.tar.gz
export tarball

os_type?=$(shell uname | tr '[A-Z]' '[a-z]' || echo "unknown")
arch_type?=$(shell dpkg --print-architecture || uname -m || echo "unknown")
CMAKE_OPTIONS+=-DPLATFORM_DESCRIPTOR=${arch_type}-${os_type}
profile_file?=profiles/full.profile
CMAKE_OPTIONS+=-DIOTJS_PROFILE="${profile_file}"
export CMAKE_OPTIONS

prep_files+=\
 deps/jerry/jerry-core/profiles/.profile\
 deps/libtuv/cmake/config/config_${arch_type}-${os_type}.cmake \
 deps/libtuv/cmake/option/option_${arch_type}-${os_type}.cmake \
 ${profile_file} \
 #eol


ifeq (amd64,${arch_type})
arch_type=$(shell uname -m)
endif


%:
	dh $@ 


deps/%: debian/rules .gitmodules deps
	which git || ${<D}/${<F} rule/setup
	git submodule init
	git submodule update
	@ls -l $@

deps/libtuv/cmake/%.cmake: deps/libtuv/cmake
	ls $@ || touch $@
	@ls -l $@

deps/jerry/jerry-core/profiles/es5.1.profile: deps/jerry/jerry-core
	@ls -l $@

deps/jerry/jerry-core/profiles/.profile: deps/jerry/jerry-core/profiles/es5.1.profile
	ls $@ || ln -fs ${<F} $@
	@ls -l $@

${profile_file}: profiles/default.profile
	ls $@ || ln -fs ${<F} $@
	@ls -l $@

${tarball}: rule/prep
	 tar cvfz "$@" \
--transform "s|^./|${package}-${version}/|" \
--exclude 'debian' --exclude-vcs \
.
	@ls -l $@

rule/tarball: ${tarball}
	@ls $^

rule/setup: /etc/debian_version
	sudo apt-get install -y \
  build-essential \
  debhelper \
  devscripts \
  fakeroot \
\
  cmake \
  git \
  python \
 #EOL

rule/version:
	@echo ${version}
	-cat /etc/os-release
	cmake --version
	${MAKE} --version
	${CC} --version

rule/prep: ${prep_files}
	@ls -l $^

rule/dist: rule/setup rule/version rule/prep rule/tarball
	@echo "# $@: $^"

rule/debuild: debian/rules
	@which ${@F} || ${<D}/${<F} ${@D}/setup
	@ls ${tarball} || ${<D}/${<F} ${@D}/tarball
	${<D}/${<F} ${@D}/version
	${@F} -S -us -uc
	${@F} -us -uc


.PHONY: rule/%
